@using Comics.Core.Persistence
@model Comics.Web.Models.HomePageViewModel
@{
    ViewBag.Title = "Todays Comics";
}

@helper ComicBlock(Comic comic)
{
    <div class="well">

        <h3>Most Recent @comic.ComicType Comic <small>@comic.PublishedDate.ToShortDateString()</small></h3>

        <div>
            <a href="@comic.Permalink">
                <img class="img-responsive" src="@comic.ImageSrc"/>
            </a>
        </div>

        <div style="padding-top:10px">
            @Html.ActionLink("Subscribe", "Feed", comic.ComicType.ToString(), null, new {@class="btn btn-primary"})
        </div>
    </div>
}

<h1>Comic RSS</h1>

@foreach (var comic in Model.LatestComics)
{
    @ComicBlock(comic)
}